services:
  app:
    build: .
    container_name: stockcontrol_app
    ports:
      - "8080:80"
    volumes:
      - ../:/var/www/html
    restart: always
    depends_on:
      - db

  db:
    image: postgres:15
    container_name: stockcontrol_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123
      POSTGRES_DB: guiodb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
